/* Variables */

:root {
  --dark-blue-bg: #141640;

  --heading-color: #f3f5ff;
  --text-color: #c8d0f0;

  --links-color: #abc0f2;
  --link-color-repo: #8da8ff;
  --link-color-demo: #c09cff;

  --font-one: "Cormorant Garamond", Georgia, "Times New Roman", serif;
  --font-two: "Manrope", Arial, serif;

  --font-size-s: 20px;
  --font-size-m: 25px;

  --size-xsmall: 20px;
  --size-small: 30px;
  --size-medium: 50px;
  --size-large: 100px;
  --size-xlarge: 150px;
  --size-xxlarge: 400px;
}
