/* Variables */

:root {
  --dark-blue-bg: #141640;

  /* I want to possible use these colours:
  --royal-blue: #3345A6;
  --light-blue: #2B3A8C;
  --dark-red: #731F2E;
  --royal-purple: #6945A9;
  */

  --heading-color: #f3f5ff;
  --text-color: #c8d0f0;

  --links-color: #abc0f2;
  --link-color-repo: #8da8ff;
  --link-color-demo: #c09cff;

  --font-one: "Cormorant Garamond", Georgia, "Times New Roman", serif;
  --font-two: "Manrope", Arial, serif;

  --size-small: 20px;
  --size-medium: 50px;
  --size-large: 100px;
}
