body {
  /* background-image: url("assets/images/");
  background-position: right 20%;
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: hsl(217, 54%, 11%);
  margin: 0;
  padding: 0;
  max-width: 1920px;
  font-family: "Playfair Display";
  color: #acb0f2;
}

ul {
  list-style: none;
  display: flex;
  justify-content: right;
}

ul li a {
  display: block;
  color: #acb0f2;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 20px;
}

h1 {
  font-size: 80px;
}

span {
  display: block;
}

h2 {
  font-size: 18px;
}

p {
  font-size: 18px;
  font-family: "Open Sans";
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.card {
  background-color: hsl(216, 50%, 16%);
  width: 500px;
  height: auto;
  border-radius: 20px;
  transition: 0.5s;
}

img {
  width: 100%;
  max-width: 450px;
  border-radius: 10px;
  height: 400px;
  object-fit: cover;
  display: block;
  margin: 20px auto;
  filter: grayscale(100%);
  transition: 0.5s;
}

img:hover {
  filter: grayscale(0%);
}

.card-info {
  width: 100%;
  max-width: 400px;
  display: block;
  margin: 20px;
  padding-left: 10px;
  line-height: 1.2;
}
